//variabes
//article
$article-height: 600px;
$article-width: $article-height * .9 + 4px;
$article-bgcolor: #ccc;
$article-border: none;
$article-margin: 50px auto;

//header
$header-height: $article-height * .097;
$header-border: 2px solid #000;
$header-font-size: 16px;
$header-bgcolor: #0079C8;
$header-color: #000;
$header-font-weight: bold;

//header-bar
$header-bar-padding-top: $header-height * .35;
$header-content-style: center;

//header-bar p
$header-p-margin: $article-height * .05;

//main
$main-height: $article-height * .9 - 2px;
$main-width: $article-height * .9;
$main-bgcolor: $article-bgcolor * 1.1;
$main-margin-lr: 2px;
$main-margin-tb: 1px;

//cell-wraper
$cell-wraper-display: flex;
$cell-justify-content: space-between;
$cell-flex-wrap: wrap;
$cell-align-items: center;

//cell
$cell-bgcolor: #55c0fc;
$cell-border: 1px solid #000;
$cell-text: center;
$cell-align: middle;
